a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #545454;
  font-family: Helvetica, Arial, sans-serif;
}

table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  border-collapse:
  collapse; border-spacing: 0;
}

td, th {
  border: 1px solid transparent;
  height: 30px;
  transition: all 0.3s;
}

th {
  background: #DFDFDF;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
}

tr:nth-child(even) td { background: #666; }  

tr:nth-child(odd) td { background: #545454; } 

tr td:hover { background: #666; color: #FFF; }

td.align-top {
  vertical-align: text-top;
}

a.general_row_link:link {color: #0033CC}
a.general_row_link:visited {color: #0033CC}
a.general_row_link:active {color: #0099FF}
a.general_row_link:hover {color: #0099FF}

a:link    {color:#FFFFFF}
a:visited {color:#FFFFFF}
a:active  {color:#CCCCCC}
a:hover   {color:#CCCCCC}

.flex-center {
  display: flex;
  justify-content: center;
}

span.bull { color:#FFFFFF; }
